<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="copyright">	
	    <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:737475359"><span itemprop="telephone">737 475 359</span></a></li>
	    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:magdalena.dlugolecka@dobrostan.org.pl"><span itemprop="email">magdalena.dlugolecka@dobrostan.org.pl</span></a></li>
	    <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.pl/maps/place/W%C5%82adys%C5%82awa+%C5%BBele%C5%84skiego+2,+80-284+Gda%C5%84sk/@54.3844683,18.584562,17z/data=!3m1!4b1!4m5!3m4!1s0x46fd74e7f51fef39:0x51975a82d48e9a33!8m2!3d54.3844652!4d18.5867507">Żeleńskiego 2 | 80-285 Gdańsk Wrzeszcz</a></li>
       	    <li><a href="https://www.facebook.com/DobroStan.Mindfulness.Psychoterapia" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	    <li><a href="https://www.youtube.com/channel/UCHac7G0qDCetpQ3VOhFbFEw" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
	  	    </ul>
    </div>
</footer>
