<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="copyright">	
	    <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:737475359"><span itemprop="telephone">737 475 359</span></a></li>
	    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:magdalena.dlugolecka@dobrostan.org.pl"><span itemprop="email">magdalena.dlugolecka@dobrostan.org.pl</span></a></li>
	    <li><i class="fa fa-map-marker" aria-hidden="true"></i> 80-285 Gdańsk, ul. Żeleńskiego 2</a></li>
       	    <li><a href="https://www.facebook.com/DobroStan.Mindfulness.Psychoterapia" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	    <li><a href="https://www.youtube.com/channel/UCHac7G0qDCetpQ3VOhFbFEw" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
	  	    </ul>
    </div>
</footer>
