<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="logo-regular" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Start</a></li>
            <li><a href="{{ site.baseurl }}/mindfulness.html">Mindfulness</a></li>
            <li><a href="{{ site.baseurl }}/psychoterapia.html">Psychoterapia</a></li>
            <li><a href="{{ site.baseurl }}/oferta.html">Cennik</a></li>
            <li><a href="{{ site.baseurl }}/o-mnie.html">O Mnie</a></li>
            <li><a href="{{ site.baseurl }}/artykuly.html">Artykuły</a></li>
            <li><a href="{{ site.baseurl }}/kalendarz.html">Kalendarz</a></li>
            <li><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>
