<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="google-site-verification" content="B3qZ60LuygScuOPJsydRjczQmQkQPetSlS9YtbOdxk8" />
	<meta name="msvalidate.01" content="784755B335EC52F635E2C13612278714" />	
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="trening Mindfulness | psychoterapia poznawczo behawioralna CBT | terapia traumy EMDR | terapia dialektyczno behawioralna DBT" />
    <meta name="keywords" content="psycholog Gdansk, psychoterapeuta Gdansk, mindfulness Gdansk, uwaznosc gdansk, EMDR Gdansk, dbt Gdansk, terapia ACT, psychoterapia ACT, terapia DBT, psychoterapia borderline Gdansk, terapia ACT Gdansk, psychoterapia ACT Gdansk, terapia DBT Gdansk, psychoterapia borderline, psychoterapia CBT Gdansk, CBT Gdansk, kurs mindfulness Gdansk, kurs Mindfulness, trening Mindfulness Trojmiasto, trening Mindfulness Gdansk, terapia CBT Gdansk, psychoterapia poznawczo behawioralna Gdansk, psychoterapia poznawczo behawioralna trojmiasto, CBT Trojmiasto, terapia traumy Gdańsk, emdr Gdańsk" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
    <script src="{{ site.baseurl }}/js/init.js"></script>
    <!--<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" /> -->
    <style>
	    @font-face {
		    font-family: 'Amatic SC';
		    font-style: normal;
		    font-weight: 400;
		    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url({{ site.baseurl }}/fonts/DPPfSFKxRTXvae2bKDzp5FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	    }
    </style>  
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-97265294-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="application/ld+json">
{ "@context" : "https://schema.org",
  "@type" : "LocalBusiness",
  "name" : "DobroStan | Mindfulness i Psychoterapia",
  "url" : "https://magda-dlugolecka.github.io",
  "address" : "80-285 Gdańsk, Żeleńskiego 2"
  "telephone" : "737475359",
  "email" : "magdalena.dlugolecka@dobrostan.org.pl",
  "event" : ["kurs Mindfulness", "trening Mindfulness"],
  "areaServed" : ["Trójmiasto", "Gdańsk", "Sopot", "Gdynia"],
  "sameAs" : [ "https://www.facebook.com/DobroStan.Mindfulness.Psychoterapia",
    "https://www.youtube.com/channel/UCHac7G0qDCetpQ3VOhFbFEw"] 
}
</script>
	<noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
    </noscript>
</head>
