<!DOCTYPE html>
<!-- Znaczniki mikrodanych dodane przez Asystenta do oznaczania danych Google. -->
<html>

  {% include /head.html %}

	<body id="top">
	<span itemscope itemtype="https://schema.org/LocalBusiness">
        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
              <h2>Szeroki a nie wąski</h2>
              <p>Jak tutu</p>
              <ul class="actions">
                <li><a href="{{ site.baseurl }}/mindfulness.html" class="button big special">Mindfulness</a></li>
                <li><a href="{{ site.baseurl }}/psychoterapia.html" class="button big special">Psychoterapia</a></li>
              </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}
	</span>
    </body>

</html>
